version: '3'

services:
  # --- 1. CHROMA DB ---
  chroma-server:
    image: chromadb/chroma:latest
    container_name: faq_chroma_server
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./data/chroma_data:/data
    environment:
      - IS_PERSISTENT=TRUE
      - ANONYMIZED_TELEMETRY=False
  # --- 2. EVOLUTION API ---
  wppconnect:
    container_name: faq_wppconnect
    image: wppconnect-team/wppconnect-server:latest
    restart: always
    ports:
      - "21465:21465" # Port default WPPConnect
    environment:
      # Token rahasia buat akses API (Bebas ganti)
      SECRET_KEY: admin123
      LOG_LEVEL: info 
    volumes:
      # Simpan sesi biar kalau restart gak perlu scan ulang
      - ./wpp_tokens:/home/wppconnect/tokens
      - ./wpp_sessions:/home/wppconnect/userData
    networks:
      default: null
  # --- 4. BOT WA ---
  faq-bot:
    build: .
    container_name: faq_bot_wa
    restart: always
    ports:
      - "8005:8000"
    depends_on:
      chroma-server:
        condition: service_started
      wppconnect:
        condition: service_started
    env_file: .env
    environment:
      - CHROMA_HOST=chroma-server
      - CHROMA_PORT=8000
      - WA_BASE_URL=http://wppconnect:21465
      - WA_SESSION_KEY=admin123
    command: uvicorn bot_wa:app --host 0.0.0.0 --port 8000
  # --- 5. USER APP ---
  faq-user:
    build: .
    container_name: faq_user_app
    restart: always
    ports:
      - "8501:8501"
    depends_on:
      - chroma-server
    volumes:
      - ./data:/app/data
      - ./images:/app/images
      - ./.streamlit:/app/.streamlit
    env_file: .env
    environment:
      - CHROMA_HOST=chroma-server
      - CHROMA_PORT=8000
    command: streamlit run app.py --server.port=8501 --server.address=0.0.0.0
  # --- 6. ADMIN APP ---
  faq-admin:
    build: .
    container_name: faq_admin_app
    restart: always
    ports:
      - "8502:8502"
    depends_on:
      - chroma-server
    volumes:
      - ./data:/app/data
      - ./images:/app/images
      - ./.streamlit:/app/.streamlit
    env_file: .env
    environment:
      - CHROMA_HOST=chroma-server
      - CHROMA_PORT=8000
    command: streamlit run admin.py --server.port=8502 --server.address=0.0.0.0
  # --- 7. FRONTEND V2 ---
  faq-web-v2:
    build: .
    container_name: faq_web_v2
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - chroma-server
    volumes:
      - ./data:/app/data
      - ./web_v2:/app/web_v2
    env_file: .env
    environment:
      - CHROMA_HOST=chroma-server
      - CHROMA_PORT=8000
    command: uvicorn web_v2.main:app --host 0.0.0.0 --port 8080